body {
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url(../img/fond/home_4.jpg);
    background-size: 100% auto;
    font-family: "Trebuchet MS", Helvetica, sans-serif
}

body, legend {
    color: white;
}

body > .container {
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: -moz-calc(100% - 40px);
    min-height: calc(100% - 40px);
}

footer {
    height: 31px;
}

footer > .container {
    margin-top: 8px;
}

footer .col-xs-9, footer .col-xs-3 {
    padding-left: 0px;
    padding-right: 0px;
}

select, option, #div_cryptage, .modal-content, #table-pedagogie {
    color: black;
}

.btn {
    border-radius: 0px;
}

.label-interrupteur {
    text-align: center;
    padding: 0px;
}

.modal-body {
    text-align: justify;
}

.modal-body h4 {
    margin-top: 25px;
    margin-bottom: 20px;
}

.modal-body img {
    margin-bottom: 10px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

#apercu {
    padding: 5px 10px 5px 10px;
    background-color: white;
    color: black;
    font-size: 15px;
}

#chart_div {
    margin-left: 20px;
    margin-right: 20px;
}

#cle1 {
    margin-bottom: 5px;
}

#cle_trouvee_div {
    color: black;
    height: 1.75em;
    background-color: white;
    padding-top: 4px;
    margin-bottom: 10px;
    text-align: center;
}

#credits a {
    text-decoration: none;
    color: wheat;
}

#decryptedText {
    word-wrap: break-word;
}

#label_action {
    margin-top: 5px;
    padding: 0px;
    text-align: center;
}

#label_cle {
    margin-top: 5px;
    text-align: right;
}

#liste-tab-cle {
    margin-top: 10px;
}

#paragraph-devine {
    display: none;
    text-align: center;
    margin-top: -10px;
}

#paragraph-help {
    text-align: center;
    margin-bottom: 0px;
    margin-top: -10px;
}

#table-pedagogie td {
    text-align: center;
    /*width: 10px;*/
}

#table-pedagogie .small-row td {
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
}

#titre {
    text-align: center;
    visibility: hidden;
    margin-bottom: 50px;
}

#goto_part1, #goto_part2, #restart, #resultat_cryptanalyse {
    margin: 0px auto 5px auto;
}

@media (min-width: 768px) {
    .nopadding {
        padding-left: 0;
        padding-right: 0;
    }
}